<header class="header">
    <section class="logo">
        <a href="{{ site.url }}/" class="logo__link">
            {% if site.avatar != nil %}
                <h1 style="display: none;">{{ site.title }}</h1>
                <img class="avatar_img" src="{{site.avatar}}" />
            {% else %}
                <h1>{{ site.title }}</h1>
            {% endif %}
        </a>
    </section>
    <button id="menuToggle">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <nav class="menu">
        {% include nav.html nav=site.data.nav %}
    </nav>
</header>