// =============================
// global.scss
// =============================
// Used for single page styles.

@import url('https://fonts.googleapis.com/css?family=Montez');
@import url(https://fonts.googleapis.com/css?family=Francois+One);

.page {
  blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.2;
    color: #666;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    border-left-style: solid;
    border-left-width: 15px;
    border-right-style: solid;
    border-right-width: 2px;
  }
  blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  blockquote::after {
    content: "";
  }
  blockquote a {
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
  }
  blockquote a:hover {
    color: #666;
  }
  blockquote em {
    font-style: italic;
  }
  /*Default Color Palette*/
  blockquote.default{
    border-left-color: #656d77;
    border-right-color: #434a53;
    color: #656d77;
  }
  color: var(--c-pageText);
  justify-self: center;
  margin: 0 2rem;
  max-width: 1000px;
  @include flexbox {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    max-width: 100%;
  }
}
